.scanner-container {
  position: relative; 
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-video {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
  z-index: 1;
  display: block;
}

.corner {
  position: absolute;
  width: 22px;
  height: 22px;
  border: 3px solid #00B9E8;
  border-radius: 0;         
  z-index: 2;
  pointer-events: none;
}

.top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}


.codigo-detectado {
  margin-top: 16px;
  color: green;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.boton-reiniciar {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.boton-reiniciar button {
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
