.barra-footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 430px;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  z-index: 100;

  background-color: transparent; 
  border-top: none;
  border-radius: 0;
  box-shadow: none;
}

.barra-footer nav {
  background-color: #007ba7;
  border: 2px solid white;
  border-radius: 20px;
  padding: 0.4rem 0.6rem;
}

.barra-footer nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.barra-footer nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  color: white;
  gap: 4px;
  flex: 1;
}

.barra-footer a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}


